<template>
  <div class="container">
    <div>
      <Logo />
     
      <h1 class="title">
         <button @click="GetData()">Get Data</button>
      </h1>
      <div class="links">
        {{getTest}}
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      Test: null,
      Token: null
    }
  },
  async mounted() {
      this.GetData();
      
  },
  computed: {
    getTest(){
      return this.Test
    },
    getToken(){
      return this.Token
    }
  },
  methods: {
    GetData() {
      //  const configGetData = {
      //   headers: {
      //     "Content-Type": "application/x-www-form-urlencoded",
      //     "Access-Control-Allow-Origin": "*",
      //     "Authorization": `Bearer ${this.Token}`
      //   }
      // }

      //console.log(this.Token)
      this.$axios.get("/api").then(data => {
        //console.log(JSON.stringify(data))
        this.Test = data.data;
      }).catch(error => {
        this.Test = error
      })
    }
  }
}
</script>

<style>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family:
    'Quicksand',
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
</style>
